// TODO: Have a lot of reused code here, make reusable classes.
.highscores {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  overflow: auto;
  height: 100vh;
  background-color: black;
  &__title {
    color: lime;
  }
  &__content {
    color: orange;
    margin: auto;
    height: 75vh;
    width: 75%;
    margin: auto;
    border: 3px solid orange;
    padding: 25px;
    font-size: 0.8em;
    @media only screen and (min-width: 325px) {
      font-size: 1em;
    }
  }
  &__list {
    display: grid;
    grid-auto-rows: 10%;
    height: 100%;
  }
  &__row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    line-height: 58px;
  }
  &__divider {
    flex-grow: 1;
  }
}

.primary-title {
  color: lime;
}

.home {
  font-family: 'Press Start 2P', cursive;
  color: orange;
  background-color: black;
  height: 100vh;
  text-align: center;
  overflow: auto;
  &__title {
    color: lime;
    margin-top: 30vh;
  }
}

.button-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30%;
  .link-button {
    margin: 10px 0;
  }
}
.link-button {
  color: orange;
  text-decoration: none;
  display: block;
  height: 20px;
  border: solid 1px;
  padding: 15px;
  line-height: 20px;
  &:focus,
  &:hover {
    background-color: lime;
  }
}

.button-control {
  color: orange;
  background-color: transparent;
  border: 1px solid;
  padding: 15px;
  line-height: 5px;
  cursor: pointer;
  &--alt {
    color: lime;
    &:focus,
    &:hover {
      background-color: orange;
    }
  }
  &:focus,
  &:hover {
    background-color: lime;
  }
}
.game {
  font-family: 'Press Start 2P', cursive;
  color: orange;
  background-color: black;
  height: 100vh;
  text-align: center;
  overflow: auto;
  &__overlay {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
  }
  &__header {
    color: lime;
  }
  &__outcome {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid;
    padding: 15px;
    @media only screen and (min-width: 600px) {
      width: auto;
      padding: 25px;
    }
  }
  input {
    font-family: 'Press Start 2P', cursive;
    color: orange;
    &.text-input {
      border: 2px solid;
      padding: 10px;
    }
  }
  &__section {
    margin-top: 30vh;
    &--playing {
      margin-top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media only screen and (min-height: 400px) {
        height: 100vh;
      }
    }
  }
  &__form {
    height: 100%;
    overflow: auto;
    form {
      display: flex;
      flex-direction: column;
      @media only screen and (min-height: 750px) {
        justify-content: space-between;
        height: 90%;
      }
      .button-control__container {
        margin-top: 20px;
      }
    }

    .path-choices {
      margin-top: 15px;
      input {
        display: none;
      }
      display: grid;
      grid-template-columns: repeat(2, 50%);
      .path-tile {
        position: relative;
        &--selected {
          &::before {
            content: '';
            width: 20px;
            height: 20px;
            background-color: orange;
            box-shadow: 41px -33px 33px 20px orange;
          }
        }
        &__img {
          height: 90px;
        }
      }
    }
  }
}

.roll-button {
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
}

.button-emoji {
  font-size: 21px;
}

.rolling-overlay {
  &__img {
    height: 75px;
    animation: rotation 2s infinite linear;
  }
  .tile-number {
    font-size: 2em;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.error-label {
  margin-top: 10px;
  color: red;
}

.button-gap-top {
  margin-top: 10px;
}

.lose {
  color: red;
}

.gain {
  color: lime;
}

.input__container {
  margin: 15px 0;
  .signup-label {
    display: block;
    margin-bottom: 15px;
    font-size: 1.1em;
    &--small {
      font-size: 1em;
    }
  }
}

.characters {
  margin-top: 12px;
  .character__container {
    > input {
      display: none;
    }
  }
  display: grid;
  grid-template-columns: repeat(3, 33%);
  .character-tile {
    position: relative;
    &--selected {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background-color: orange;
        box-shadow: 41px -33px 33px 20px orange;
      }
    }
    &__img {
      height: 90px;
    }
  }
}

.form__space--top {
  margin-top: 25px;
}

.form__space--bottom {
  margin-bottom: 25px;
}

.form__space--right {
  margin-right: 15px;
}

img.results__character {
  height: 75px;
}

.present-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: black;
}

.presents-list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 80px;
  .present-tile {
    .present-tile__btn {
      background-color: transparent;
      border: none;
      > span {
        font-size: 50px;
      }
    }
  }
}

.alignment-label {
  &--good {
    color: lime;
  }
  &--bad {
    color: red;
  }
}