// TODO: Have a lot of reused code here, make reusable classes.
.highscores {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  overflow: auto;
  height: 100vh;
  background-color: black;
  &__title {
    color: lime;
  }
  &__content {
    color: orange;
    margin: auto;
    height: 75vh;
    width: 75%;
    margin: auto;
    border: 3px solid orange;
    padding: 25px;
    font-size: 0.8em;
    @media only screen and (min-width: 325px) {
      font-size: 1em;
    }
  }
  &__list {
    display: grid;
    grid-auto-rows: 10%;
    height: 100%;
  }
  &__row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    line-height: 58px;
  }
  &__divider {
    flex-grow: 1;
  }
}

.primary-title {
  color: lime;
}

.home {
  font-family: 'Press Start 2P', cursive;
  color: orange;
  background-color: black;
  height: 100vh;
  text-align: center;
  overflow: auto;
  &__title {
    color: lime;
    margin-top: 30vh;
  }
}

.button-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 30%;
  .link-button {
    margin: 10px 0;
  }
}
.link-button {
  color: orange;
  text-decoration: none;
  display: block;
  height: 20px;
  border: solid 1px;
  padding: 15px;
  line-height: 20px;
  &:focus,
  &:hover {
    background-color: lime;
  }
}

.button-control {
  color: orange;
  background-color: transparent;
  border: 1px solid;
  padding: 15px;
  line-height: 5px;
  cursor: pointer;
  &:focus,
  &:hover {
    background-color: lime;
  }
}
.game {
  font-family: 'Press Start 2P', cursive;
  color: orange;
  background-color: black;
  height: 100vh;
  text-align: center;
  overflow: auto;
  &__header {
    color: lime;
  }
  &__outcome {
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid;
  }
  input {
    font-family: 'Press Start 2P', cursive;
    color: orange;
    &.text-input {
      border: 2px solid;
      padding: 10px;
    }
  }
  &__section {
    margin-top: 30vh;
    &--playing {
      margin-top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
    }
  }
  &__form {
    form {
      display: flex;
      flex-direction: column;
      .button-control__container {
        margin-top: 25px;
      }
    }
  }
}

.roll-button {
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
}

.button-emoji {
  font-size: 21px;
}

.rolling-overlay {
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__img {
    height: 75px;
    animation: rotation 2s infinite linear;
  }
  .tile-number {
    font-size: 2em;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.error-label {
  margin-top: 10px;
  color: red;
}

.button-gap-top {
  margin-top: 10px;
}

.lose {
  color: red;
}

.gain {
  color: lime;
}
